<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <title>Pagar</title>
</head>

<body>
    <div class="logoInfo">
        <img class="logo" src="/static/img/printexpress.PNG" />
        <div class="imgLoad">
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}

            {% endif %}
            {% endwith %}
            </p>
            {% if filename %}
        </div>
    </div>
    <div class="mainFile">
        <embed class="file" src="{{ url_for('display_image', filename=filename) }}">
        <div class="Info">
            <div class="printInfo">
                <label>Numero de páginas : {{totalpages}}</label>
                <label>Tamaño : {{sizeFile}}</label>
                {% endif %}
            </div>
            <form class="form" method="post" action="{{ url_for('pay', filename=filename) }}" method="GET"
                enctype="multipart/form-data">
                <dl>
                    <p>
                    <div class="printType">
                        <label style="font-weight: bold;">Escoga tipo de impresion: </label> <br>
                        <label>
                            <input type="radio" name="color" value="monochrome" required> Blaco y Negro
                        </label>
                        <label>
                            <input type="radio" name="color" value="color"> Color
                        </label>
                    </div>
                    <div class="printCopies">
                        <label style="font-weight: bold;">Ingrese # copias: </label> <br>
                        <input type="number" name="numCopies" value="1">
                    </div>
                    <div class="printPages">
                        <label style="font-weight: bold;">Ingrese paginas a imprimir: </label> <br>
                        <input type="text" name="pages" placeholder="Todas">
                    </div>
                    <p>
                        <input class="btn1" type="submit" name="pay" value="Pagar">
                    </p>

                    </p>
                </dl>
            </form>
        </div>

    </div>
</body>

</html>