<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css/">   
    <title>Send</title>
</head>
<body>

    <div>
        <script src="https://documentcloud.adobe.com/view-sdk/loadPdf.js"></script>
        
    </div>
    <div>
        <img src="{{url_for('display_image',filename=filename)}}"  width="100%" height="600"/>
        </iframe>
        <button class="btnPay">Pagar</button>

    </div> 
       
 </body>
</html>