<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{ title }}</title>
   <link rel="stylesheet" href="../static/css/style.css/">  
</head>

<h2>Selecciona un archivo</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
	<div>
		<embed src="{{ url_for('display_image', filename=filename) }}">
	</div>
{% endif %}
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
			<div>
				<label>Ecoga tipo de impresion</label>
				<input type="radio" name="color" >
				<label for="printblackwhite">Blaco y Negro</label>
				<input type="radio" name="color" >
				<label for="printColor">Color</label>
			</div>
			<div>
				<label>Ingrese # copias</label>
				<input type="number" name="numCopies">
			</div>
			<div>
				<label>Ingrese paginas</label>
				<input type="text" name="pages">
			</div>
			
			
		</p>
    </dl>
    <p>
		<input type="submit" value="Cargar">
		<input type="submit" value="Pagar">
	</p>
</form>
