<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
   <meta name="viewport" content="width=device-width">
   <title>{{ title }}</title>
   <link rel="stylesheet" type="text/css" href="../static/css/style.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
	<img class="logo" src="/static/img/printexpress.PNG"/>
	<div class="selectFile">
		<h2>Selecciona un archivo</h2>
		<h4> Formatos permitidos: </h4>
		<h4> png, jpg, jpeg, gif, pdf</h4>
		<p>
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<p>
				{% for category, message in messages %}
				<div class="{{ category }}">{{ message }}</div>
				{% endfor %}
				</p>
			{% endif %}
			{% endwith %}
		</p>
		{% if filename %}
		
		<embed src="{{ url_for('display_image', filename=filename) }}">
		
		{% endif %}
		<form method="post" action="/" enctype="multipart/form-data">
			<dl>
				
					<input class="btn" type="file" name="file" style="font-family:'Poppins', sans-serif;" autocomplete="off"  required >			
	
					<input class="btn1" type="submit" value="Cargar" style="font-family:'Poppins', sans-serif;">
					
			
			</dl>
			
		</form>
	</div>
	
</body>

